body {
	background-color: #fcfcfc;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    line-height: 1.5rem;
	color: #3D3D3D;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

html {
	height: 100%;
}

h2 {
	font-size: 2.5em;
	margin-block-end: 5rem;
}

h3 {
	margin-block-start: 3em;
	margin-block-end: 4px;
}

a {
	color: #2C22AE;
	font-weight: 600;
}

a:hover {
	color: rgb(97, 147, 255);
}

.italic {
	font-style: italic;
	font-weight: 700;
}

.site-links {
	margin-top: 1em;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

.solid-bg {
	background-color: white;
	color: #3D3D3D;
}

.transparent-bg {
	background-color: transparent;
	color: white;
}

article {
	max-width: 800px;
	margin: auto;
	padding: 100px 2rem;
	font-size: 1.05rem;
}
article.narrow {
	max-width: 500px;
}
h2.small-padding {
	margin-block-end: 2.5rem;
}


/*
 *	BACKGROUND
 */
body {
	background-image: url('images/background-full.png');
	height: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*
 *	BANNER/TOP
 */
header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
h1 {
	font-weight: 700;
	font-size: 2.5em;
    line-height: 2.7rem;
	font-family: 'Questrial', sans-serif;
	color: white;
	text-align: center;
	font-weight: 400;
}



/*
 *	NAV BAR
 */
nav {
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.2rem 0;
	background-color: #1d158b;
	background-image: url('images/background-full.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav .brand {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
}
nav ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
nav ul#menu-left {
	flex: 1 1 100%;
}
nav li {
	flex: 0 1 auto;
}
nav li a, nav .brand a {
	display: inline-block;
	margin: 0 1.8rem;
	color: white;
	font-size: 1.1rem;
	text-decoration: none;
    transition: all .2s ease-out;
	padding: 6px 0;
	border-bottom: 2px solid transparent;
}
nav li a:hover, nav .brand a:hover {
	color: white;
	text-decoration: none;
	/* background: rgba(0, 0, 0, 0.3); */
	border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}
#toggle {
	display: none;
	flex: 0 1 auto;
	height: 24px;
	padding-left: 0.8rem;
}
#toggle i {
 	color: white;
 	font-size: 24px;
	height: 24px;
    transition: all .2s ease-out;
}
#toggle i:hover {
	color: rgb(18, 185, 191);
}
.hidden {
	display: none;
}
.active {
	display: flex !important;
}
#nav-bar.active {
    transition: none;
	background-color: #2C22AE;
	/* border-bottom: 1px solid rgb(190, 190, 190); */
}
@media (max-width: 645px) {
	.brand {
		width: 100%;
		margin: 1rem 0.5rem;
	}
	#toggle {
		display: block;
	}
	#nav-bar, #nav-bar.scrolled {
 		padding: 0;
	}
	#menu-left, #menu-right {
		display: none;
	}
	#menu-left {
		flex-direction: column;
	}
	#menu-right {
		margin-bottom: 1rem;
	}
	nav, #menu-right {
		flex-direction: column;
		align-items: flex-start;
	}
	nav ul {
		height: auto;
		align-items: flex-start;
		width: 100%;
	}
	nav li {
		flex: 1 1 100%;
		width: 100%;
	}
	nav li a {
		width: 100%;
		margin: 1rem 2rem;
		border-bottom: 0;
		padding: 0;
	}
	nav li a:hover {
		border-bottom: 0;
		padding-bottom: 0;
		border-left: 3px solid white;
		padding-left: 1rem;
	}
}

/* FORM */
form label {
	margin-top: 0.5rem;
}
input.btn {
	margin-top: 1rem;
}



/* FOOTER */

footer {
	margin-top: 40px;
	width: 100%;
	height: 40px;
	color: white;
}

@media (min-width: 1200px)
.container {
    max-width: none;
}
@media (min-width: 992px)
.container {
    max-width: none;
}
@media (min-width: 768px)
.container {
    max-width: none;
}
@media (min-width: 576px)
.container {
    max-width: none;
}